{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="blockchain enthuast,geo-deeplearning" />
	<meta name="keywords" content="spatial analysis,webmappping,Mlops,machine learning" />
	<meta name="author" content="" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>	
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
	 <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
	<link rel="stylesheet" href="{% static 'static/css/style.css'%}">

	 <title>SanGis</title>
	 
	
	
</head>

<body  id='bg' style="background-image:url('{% static 'images/personal/background.jpg'%}');">
	<div id="mainwrap">

	
